.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-solid {
  background: #e3664f;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  width: 170px;
  height: 46px;
  border: unset;
}
.secondary-outline {
  border: 1px solid #e3664f;
  border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 228px;
  height: 46px;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: #e3664f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    background-color: #e3664f;
  }
}
.disclaimer {
  color: #ffffff;
  padding: 10px;
  background-color: #ebebeb;
  font-size: 13px;
  color: #818181;
  text-align: center;
  position: relative;
  img {
    position: absolute;
    right: 13px;
    top: 9px;
    filter: sepia(1);
    cursor: pointer;
  }
}
.modal.fade {
  background: rgba(0, 0, 0, 0.6);
}
.common-modal {
  max-width: 70%;
  .loader {
    height: 40vh;
  }
  .recipe-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #171717;
    margin-bottom: 23px;
  }
  .ingredients {
    padding: 30px;
  }
  .scroll-bar {
    max-height: 400px;
    overflow-y: scroll;
    margin-right: 5px;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #d4d4d4;
      border-radius: 5px;
    }
  }
  .nutrients-value {
    .modal-title {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .nutreints-calc {
      display: flex;
      align-items: center;
      margin-right: 40px;
      .nutreints-calc-val {
        margin-right: 21px;
        font-size: 12px;
        color: #565656;
        img {
          margin-right: 6px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #565656;
  }
  .cooking-steps {
    padding-left: 45px;
    border-left: 1px solid #d9dee2;
    .steps-list {
      position: relative;
      padding-left: 25px;
    }
    .steps {
      font-weight: 600;
      font-size: 16px;
      color: #565656;
      margin-right: 10px;
      position: absolute;
      left: 0;
    }
  }
  .cooking-modal-body {
    padding: 0;
  }
  &.small-modal {
    max-width: 548px;
  }
  .close-icon {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    img {
      width: 14px;
    }
  }
  .modal-content {
    border-radius: 20px;
    .modal-body {
      input {
        height: 40px;
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }
  .modal-header {
    .modal-title {
      font-weight: 800;
      font-size: 20px;
      text-align: center;
      color: #e3664f;
    }
  }
  .modal-footer {
    border-top: none;
    button {
      background-color: #e3664f;
      border-radius: 5px;
      border: transparent;
      width: 150px;
      height: 50px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 21px;
      color: #ffffff;
    }
  }
}
.form-control {
  &:focus {
    box-shadow: none;
  }
}
